:root {
  --background_color: #000000;
  --main-color: #2a2a2a;
  --text_color: #f2f2f2;
}


header {
  display: flexbox;
  padding: 1rem;
  text-align: center;
}
button{
    border-radius: 5px;
    box-shadow: none;
    color: var(--text_color);
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
    padding: 0.5rem;
    transition: all 0.1s linear;
}
.input-wrapper {
            position: relative;
            display: inline-block;
        }

        .input-wrapper input {
            padding-right: 40px;
        }

        .input-wrapper button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
input{
        border-radius: 5px;
    box-shadow: none;
    color: var(--text_color);
    background-color: var(--background_color);
    border: 1px var(--main-color) solid;
    padding: 0.5rem;
    transition: all 0.1s linear;
    accent-color: transparent;
    
}

button:hover {
    transform: scale(1.01);
    cursor: pointer;
}
button:active{
    background-color: rgba(128, 128, 128, 0.141);
    transform: scale(0.99);
}
nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: var(--text_color);
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

body, html {
  font-family: monospace;
  padding: 0;
  margin: 0;
  display: grid;
  background-color: var(--background_color);
  color: var(--text_color);
}

article {
  display: block;
  width: 60vw;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.container {
  font-size: 16px;
  line-height: 1.5;
  margin: 100px auto;
  margin-bottom: 80px; /* space for footer */
}

footer {
  background-color: var(--background_color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
